<html>
    <head>
      <title>Lola's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Lola's Blog</a></h1>
        </div>

        <div>
            <p>published: 12-11-2016, 12:11</p>
            <h2><a href="">My first post as a girl coder ;)</a></h2>
            <p>Life isn't about waiting for the storm to pass. It's learning how to dance in the rain</p>
          </div>

          <div>
              <p>published: 12-11-2016, 12:11</p>
              <h2><a href="">I'm on a roll!</a></h2>
              <p>I'm just waiting to see if my coffee chooses to use it's powers for good or evil today</p>
          </div>
    </body>
</html>
